<html>
  <head>
    <%- include('./patials/head.ejs') %> 
    <link rel="stylesheet"  href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    
  </head>
  <body>
    <h1>한국드라마 - 글쓰기</h1>
    <form action='/drama/create_process' method="POST" enctype="multipart/form-data">
        <p><input type="text" name="title" placeholder="title" style = "width:170; height:30;" ></p>
        <p>
          <textarea name="description" placeholder="description"></textarea>
        </p>
        <p>
            <input type='file' name='image' accept="image/*" /><br>
        </p>
        <p>
          <input type="submit">
        </p>
    </form>     

   
  </body>
</html>